<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="jibenet" connectionString="Data Source=jibemssql.csjmqx5sxw92.ap-southeast-1.rds.amazonaws.com; Initial Catalog=Jibenet; User ID=jibenet; Password=JB2013vp;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>