@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	font-family: Verdana, Geneva, sans-serif!important;
	font-size: 11px!important;
	line-height: 18px;
	color: #333;
}
.innerpage {
	background-color: #f3f3f3;
}
@font-face {
	font-family: 'Conv_avantga5';
	src: url('../fonts/avantga5.eot');
	src: local('?'), url('../fonts/avantga5.woff') format('woff'), url('../fonts/avantga5.ttf') format('truetype'), url('../fonts/avantga5.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_calibri';
	src: url('../fonts/calibri.eot');
	src: local('☺'), url('../fonts/calibri.woff') format('woff'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_avantgarde';
	src: url('../fonts/avantgarde.eot');
	src: local('☺'), url('../fonts/avantgarde.woff') format('woff'), url('../fonts/avantgarde.ttf') format('truetype'), url('../fonts/avantgarde.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_roboto-light';
	src: url('../fonts/roboto-light.eot');
	src: local('☺'), url('../fonts/roboto-light.woff') format('woff'), url('../fonts/roboto-light.ttf') format('truetype'), url('../fonts/roboto-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*-------------- Common Classes--------------*/
h1 {
	font-family: 'Conv_calibri', Sans-Serif;
	font-size: 20px;
	line-height: 26px;
	color: #333;
	font-weight: normal;
}
h2 {
	/*font-family: 'Conv_calibri', Sans-Serif;*/
	font-size: 20px;
	line-height: 24px;
	color: #333;
	font-weight: normal;
}
h3 {
	font-size: 23px;
	line-height: 30px;
}
h4 {
	font-size: 14px;
	line-height: 26px;
}
h5 {
	font-size: 12px;
    line-height: 18px;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}
/*-------------- Header ---------------------------*/
#header {
	width: 100%;
	float: left;
	background: #fefefe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fefefe 0%, #e8e8e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#e8e8e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#e8e8e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#e8e8e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */
}
.header{
	width:96%;
	float:left;
	padding:8px 0px;
}
.header-index{
	width:92%;
	margin:0 auto;
	padding:8px 0px;
}
#header .logo{
	float: left;
	margin-left: 45px;
	width: auto;
	padding-right: 8px;
	border-right: 1px solid #ccc;
	margin-right: 10px;
}
#header .right { /*updates by arti@11sep */
    float: right;
    margin-top: 0;
    position: relative;
    text-align: right;
    top: 10px;
    width: 400px;
}

#header .right .list {
    background-image: url("../images/list-top.png");
    background-position: 84px 11px;
    background-repeat: no-repeat;
    float: left;
    margin-left: 45px;
    overflow: hidden;
    width: 95px;
}
#header .right span{
	width:70px;
	float: left;
	margin-left:8px;
	background-image: url(../images/list-top.png);
	background-position:53px 11px;
	background-repeat: no-repeat;
	overflow: hidden;
}
.right span select{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:93px;
	background-color: transparent;
	border: 0;
	font-size: 13px;
	color: #333;
	padding-top: 5px;
	padding-left: 3px;
	font-weight: bold;
	-webkit-appearance: none;
	outline:none;
}
.right .list select {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: #333333;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    outline: medium none;
    padding-left: 3px;
    padding-top: 5px;
    width: 118px;
}

.green-tab p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	float:right;
	width:170px;
	height:28px;
	text-align:center;
	line-height:28px;
	color:#fff;
	font-weight:bold;	
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
	background: #94ab55; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0YWI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhY2M4NjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #94ab55 0%, #acc863 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94ab55), color-stop(100%,#acc863)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #94ab55 0%,#acc863 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #94ab55 0%,#acc863 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #94ab55 0%,#acc863 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #94ab55 0%,#acc863 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94ab55', endColorstr='#acc863',GradientType=0 ); /* IE6-8 */
}
.green-tab p a{
	color:#fff;
	display:block
}
.green-tab p a:hover{
	color:#fff;
	background: #ccc;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
	text-decoration: none;
}
/*------------ Home page Main Section ---------------------*/
#mainbg {
	width: 100%;
	float: left;
	background-image: url(../images/mainbg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 730px;
}
#mainbg>div {
	width: 760px;
	margin: 0 auto;
	padding-top: 14%;
}
#mainbg>div h3 {
	font-size: 17px;
	font-weight: normal;
	line-height: 24px;
	margin-top:8px;
	float: left;
}
#mainbg>div h3 a {
	color: #fff;
	text-decoration: none;
}
#mainbg>div h3 a:hover {
	text-decoration: underline;
}
#mainbg>div h3 a.greenselect{
	font-weight: bold;
	color:#aad81f;
}
#mainbg h1 {
	font-family: 'Conv_roboto-light';
	font-size: 40px;
	line-height: 38px;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
	color: #fff;
	font-weight:100;
}
#mainbg h1 span {
	font-size: 30px;
	line-height: 32px;
}
.searchbtn {
	background:url(../images/searchbtn.png) no-repeat right;
	width: 48px;
	height: 40px;
	cursor: pointer;
	float: right;
}
.ddmenu {
	width: 148px;
	background-image: url(../images/ddmenu.png);
	height: 52px;
	line-height: 52px;
	background-repeat: no-repeat;
	overflow: hidden;
}
.ddmenu select {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	width: 168px;
	background-color: transparent;
	border: 0;
	font-size: 12px;
	color: #000;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: bold;
	-webkit-appearance: none;
}
.searchbtn-inner {
	background-image: url(../images/searchbtn-inner.png);
	background-repeat: no-repeat;
	background-color: none;
	width: 29px;
	height: 26px;
	cursor: pointer;
	float: right;
}
.ddmenu-inner { /*updates by arti@11sep */
    background-image: url("../images/ddmenu-nner.png");
    background-repeat: no-repeat;
    width: 110px;
	height: 34px;
}
.ddmenu-inner select {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 135px;
	background-color: transparent;
	border: 0;
	font-size: 12px;
	color: #000;
	padding-top: 5px;
	padding-left: 3px;
	font-weight: bold;
	-webkit-appearance: none;
}
/*--------------- Text Container ----------------*/
#txtcontainer {
	width: 100%;
	float: left;
	margin-top: 10px;
}
#txtcontainer>div {
	width: 92%;
	margin: 0 auto;
}
#leftdiv {
	background-color: #fff;
	border: 1px solid #ccc;
}
#leftdiv h3 {
	background-color: #E4E4E4;
	font-size: 18px;
/*	font-family: 'Conv_ProximaNova-Light';*/
	font-weight: normal;
	padding-left: 8px;
	line-height: 30px;
	border-top: 1px solid #ccc;
	margin-bottom: 14px;
}
#rightdiv {
}
#rightdiv .grybox {
	width: 100%;
	padding: 5px;
	float: left;
	background-color: #e8e8e8;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
#midtxt {
}
.proptxt {
	width: 35%;
	float: left;
	background-image: url(../images/property-right.jpg);
	height: 160px;
	background-position: left center;
	padding: 40px 10px;
}
.proptxt h2 {
	font-size: 18px;
	line-height: 24px;
	color: #a2bc5d;
}
.imgbdr {
	border: 2px solid #999;
	margin: 2px;
}
.imgbdr:hover {
	border: 2px solid #a2bc5d;
}
/*-------------- Form ------------------------ */
#form {
}
#form label {
	width: 15%;
	float: left;
}
#form .submit {
	background-color: #006cc9;
	color: #fff;
	padding: 5px 18px;
	cursor: pointer;
	border-radius: 6px;
}
.grenbgform {
	width: 96%;
	padding: 10px 4px;
	border-radius: 4px;
	border-top: 1px solid #617430;
	border-left: 1px solid #617430;
	font-family: 'Conv_calibri', arial;
	font-size: 14px;
}
.grybtn {
	width: 98%;
	padding: 0px 4px;
	border-radius: 4px;
	border: 2px solid #87975a;
	background-image: url(../images/enterbg.jpg);
	background-repeat: repeat-x;
	border: 0px;
	height: 40px;
	font-family: 'Conv_calibri', Sans-Serif;
	font-size: 22px;
	line-height: 44px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
.grnbtn {
	width: 98%;
	padding: 0px 4px;
	border-radius: 4px;
	border: 1px solid #444;
	background-image: url(../images/telefonebg.jpg);
	background-repeat: repeat-x;
	border: 0px;
	height: 40px;
	font-family: 'Conv_calibri', Sans-Serif;
	font-size: 22px;
	line-height: 44px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
/*----------- Footer ----------------*/
#footerbg {
	width: 100%;
	float: left;
	background-image: url(../images/footerbg.png);
	height: 110px;
	border-bottom: 1px solid #000;
	background-repeat: repeat-x;
	background-position: top center;
}
#footer {
	width: 100%;
	float: left;
	background-color: #262626;
	padding: 15px 0px;
	background-position: top center;
}
#footer>div {
	width: 92%;
	margin: 0 auto;
	color: #ccc;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 20px
}
#footer>div a {
	color: #fff;
	padding: 0px 5px;
	text-decoration: none;
}
#footer>div a:hover {
	color: #ccc;
	text-decoration: underline;
}
#footer>div .right {
	width: 20%;
	float: right;
	text-align: right;
}
.galley_map{
	width:707px;
	height:505px;
	margin: 0 0 20px; 
	background: #fff; 
	border: 4px solid #fff; 
	position: relative; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	border-radius: 4px; 
	box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	zoom: 1;
}
.list_heading{
	font-size: 15px;
	line-height: 25px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 800;
	text-transform:lowercase;

}
.listagens-text-left{
	float:left;	
    font-size: 12px;
    font-weight: bold;
}
.listagens-text-right{
	float:right;
    font-size: 12px;
    font-weight: bold;
}
.listagens-text{    
	float:left;
    width: 100%;
}.filter{
	text-align:right;
    font-size: 12px;
    font-weight: bold;
}
.text_size {width: 94%; padding: 2%; line-height: 40px; float: left; min-height:170px; font-size: 16px; border: 1px solid #e5e5e5; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; background: #fff;
}
button
{
	outline:none!important;
	border:none!important;
}

.head_outer {
	width: 100%;
	float: left;
	text-align: center;
}
.heading_text {
	font-size: 32px;
	line-height: 25px;
	padding: 0px 0 30px 0;
    font-weight: normal;
}
#sign_up_outer {
	width: 100%;
	float: left;
}
#sign_up_outer>div {
	width: 60%;
	margin: 0 auto;
	background: url(../images/sign_up_bg.jpg) repeat-y;
	;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #bababa;
	margin-bottom: 30px;
	min-height: 415px;
}
.signup_fb {
	float: left;
	width: 255px;
	height: 35px;
	display: block;
	background: url(../images/fb_btn.png) #282727 center no-repeat;
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.signup_fb a {
	width: 345px;
	height: 50px;
}
.signup_fb:hover {
	background: url(../images/fb_btn.png) #666 center no-repeat;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.signup_google {
	float: left;
	width: 255px;
	height: 35px;
	display: block;
	background: url(../images/google_btn.png) #282727 center no-repeat;
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.signup_google a {
	width: 345px;
	height: 50px;
}
.signup_google:hover {
	background: url(../images/google_btn.png) #666 center no-repeat;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.left_section {
	float: left;
	width: 58%;
}
.left_section .top_content {
	width: 92%;
	margin-top: 10px;
	padding: 7px 18px;
	font-size: 14px;
	font-weight: 500;
}
.left_section .form_section {
	float: left;
	width: 92%;
	padding: 18px 18px 8px 18px;
	line-height: 22px;
}
.green-butt p {
	margin: 0 auto;
	margin-top: 3px;
	width: 200px;
	font-size: 14px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #94ab55; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0YWI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhY2M4NjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #94ab55 0%, #acc863 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #94ab55), color-stop(100%, #acc863)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #94ab55 0%, #acc863 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #94ab55 0%, #acc863 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #94ab55 0%, #acc863 100%); /* IE10+ */
	background: linear-gradient(to bottom, #94ab55 0%, #acc863 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94ab55', endColorstr='#acc863', GradientType=0 ); /* IE6-8 */
}
.green-butt p a {
	color: #fff;
	display: block
}
.green-butt p a:hover {
	color: #fff;
	background: #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.rightt_section {
	float: left;
	width: 34%;
	margin-left: 35px;
}
.rightt_section .top_text {
	width: 88%;
	margin-top: 10px;
	padding: 36px 18px 8px 18px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}
.rightt_section .login_form {
	float: left;
	width: 88%;
	padding: 18px 18px 8px 18px;
	line-height: 22px;
}
.forget_password_link {
	text-decoration: none;
	color: #688041;
	font-size: 12px;
}
.forget_password_link:hover {
	color: #688041;	
}

Reset Password Css--> .reset_password {
	margin: 0 auto;
	width: 30%;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #bababa;
	margin-bottom: 30px;
}
#reset_p_outer {
	width: 100%;
	float: left;
}
#reset_p_outer>div {
	width: 30%;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #bababa;
	margin-bottom: 30px;
	min-height: 220px;
}
.top_content_pr {
	float: left;
	color: #333;
	width: 90%;
	margin-top: 10px;
	padding: 18px 18px 8px 18px;
	font-size: 14px;
	font-weight: 500;
}
.pass_reset_form {
	float: left;
	width: 89%;
	padding: 18px 18px 8px 18px;
	line-height: 22px;
}
.text_area_position {
	float: left;
	margin-left: 60px;
	margin-bottom: 10px;
} 

.test_new1{ width:210px; height:21px; margin-bottom:10px; 
   
   padding: 5px;  
   border: 1px solid #DDDDDD;
   
   
   background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
   background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
   
   
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   
   
   -moz-box-shadow: 0 0 2px #DDDDDD;
   -webkit-box-shadow: 0 0 2px #DDDDDD;
   box-shadow: 0 0 2px #DDDDDD;

}
.test_new1:hover
{
   border:1px solid #cccccc;
}
.test_new1:focus
{
   box-shadow:0 0 2px #FFFE00;
}

.btn1 {
	display: inline-block;
 *border-left: 0 none #e6e6e6;
    border-right: 0 none #e6e6e6;
    border-top: 0 none #e6e6e6;
    border-bottom: 0 none #b3b3b3;
    display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
 *margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
 *background-color: #e6e6e6;
	background-repeat: repeat-x;
	*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);*
}
.btn1:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color: #333333;
	background-color: #e6e6e6;
 *background-color: #d9d9d9;
}
.btn1:active, .btn.active {
	background-color: #cccccc;
}
.btn1:first-child {
 *margin-left: 0;
}
.btn1:hover, .btn:focus {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
.btn1:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn1.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn1.disabled, .btn[disabled] {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.bt_outer {
	float: left;
	width: 65%;
	padding-top: 15px;
}
.bt_size {
	float: right;
	padding: 9px 20px 9px 20px;
	font-size: 16px;
    border: 1px solid #ccc;
}


#menu {position:relative; z-index:500; float:left; text-align:left; }
#menu ul {padding:0; margin:0; list-style:none; padding:5px; }
#menu ul.level1 {height:30px;}
#menu ul ul {position:absolute; left:-9999px; width:122px; top:31px;}
#menu ul ul ul {position:absolute; left:-9999px; width:122px; top:-5px;}

#menu ul li { margin-right:40px; float:left;position:relative; }
#menu ul li a {display:block; float:left; padding:8px 10px 8px 5px; font:normal 14px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#000; text-decoration:none; background:#fbfbfb;  border-color:#fd8 #eb6 #a82 #eb6;}
#menu ul li a span{ float:left; background:#fbfbfb; padding:8px 5px 8px 5px; width:96%; margin-top:-2px; margin-bottom:-2px;  }
#menu ul li a.fly {background:url(../images/arrow.png) no-repeat right center; padding-right:25px;}

#menu ul ul li {margin:0;}
#menu ul ul li a {width:105px;}
#menu ul ul li a.fly {padding-right:10px;}

#menu ul li:hover > a span {background-color:#a2bb5d; color:#fff; border-color:#da4;}

#menu ul li a:focus {outline:0;}

#menu ul li a:active + ul.dropdown {left:-5px}
#menu ul li a:focus + ul.d1,
#menu ul li a:focus + ul.d2,
#menu ul li a:focus + ul.d3,
#menu ul li a:focus + ul.d4 {left:-5px}

#menu ul li ul.dropdown:hover {left:-5px}

#menu ul li a:active + ul.flyout {left:122px;}
#menu ul li a:focus + ul.f1,
#menu ul li a:focus + ul.f2,
#menu ul li a:focus + ul.f3,
#menu ul li a:focus + ul.ff1 {left:122px;}

#menu ul li ul.flyout:hover {left:122px;}